body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(18, 18, 18);
}

#calculator-casing {
    border-radius: 2%;
    padding: 10px 10px;
    background-color: rgb(36, 36, 36);

    display: flex;
    gap: 1em;
    flex-flow: column;
}

#display-casing {
    background-color: rgb(88, 88, 88);
    height: 90px;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
}

#display {
    color: white;
    font-size: 25px;
    text-align: right;
    height: 10px;

    flex: 1;
}

#display-result {
    color: white;
    font-size: 20px;
    text-align: right;
    height: 10px;
    
    flex: 1;
}

button {
    background-color: rgb(53, 53, 53);
    border: 0px;
    border-radius: 100px;
    margin-top: 2px;
    height: 75px;
    width: 75px;
    font-size: xx-large;
    font-weight: 200;
    transition-duration: .4s;
}

.input {
    color: white;
}

.input:hover {
    background-color: rgb(66, 66, 66) !important;
    border-radius: 25px;
  }

.operator{
    background-color: rgba(243, 138, 81, 0.96);
}

.operator:hover {
    background-color: rgba(243, 157, 81, 0.96) !important;
    border-radius: 25px;
  }

.function {
    background-color: rgb(255, 191, 0);
}

.function:hover {
    background-color: #ffcc00 !important;
    border-radius: 25px;
  }

#point {
    color: white;
}

#point:hover {
    background-color: rgb(66, 66, 66) !important;
    border-radius: 25px;
  }

#row-four .function {
    background-color: white;
}

#equals {
    width: 150px;
    border-radius: 30px;
    color: white;
}

#equals:hover {
    background-color: rgb(66, 66, 66) !important;
    border-radius: 15px;
}

