body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator-casing {
    border: solid black;
    border-radius: 2%;
    padding: 2vh 2vw;
    display: flex;
    gap: 2.5em;
    flex-flow: column;
}

#display-casing {
    border: solid black;
    border-radius: 7px;
}

#display {
    display: inline;
    font-size: 4vh;
    text-align: center;
}

#display-height-holder {
    display: inline-block;
    height: 6vh;
}

#button-holder-longer-height .row button {
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 2px;
    height: 10vh;
    width: 12vw;
    font-size: 2.5vh;
    transition-duration: .4s;
}

#button-holder-longer-width .row button {

    color: black;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 2px;
    height: 14vh;
    width: 8vw;
    font-size: 2.5vh;
    transition-duration: .4s;
}

.operator{
    background-color: rgba(243, 138, 81, 0.96);
}

.function {
    background-color: rgb(255, 191, 0);
}

#row-four .function {
    background-color: white;
}

button:hover {
    background-color: rgb(205, 205, 205) !important;
  }