body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator-casing {
    border: solid black;
    border-radius: 2%;
    padding: 1.5vh 1.5vw;
    display: flex;
    gap: 1em;
    flex-flow: column;
}

#display {
    border: solid black;
}

button {
    height: 5vh;
    width: 5vw;
    font-size: 2vh;
}